<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>

</head>
<script>
    function la(src){
        window.location= src;
    }

</script>

<body>
<div class = "p-3 mb-2 bg-dark text-white">
    <header class="page-header">
        <h1><p style="font-family: Serif"> Nittany Market</p></h1>
    </header>
    <main>
        <p style="font-family: Serif">NSU Retail Site.</p>
    </main>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome to Nittany Market</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home</a>
            </li>

            <!--Dropdown -->
            <div class="btn-group dropright">
                <li class="nav-item dropdown" aria-labelledby="navbarDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <!-- dropdown Clothing -->
                        <li>
                            <a  class="dropdown-item dropdown-toggle" href=/Clothing"  role="button" data-toggle="dropdown">
                                Clothing
                            </a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="/Clothing"  role="button" data-toggle="dropdown" >Tops </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/Clothing"  role="button" >Bodysuits </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Long Sleeves </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >T-Shirts</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Bottoms </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Pants </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Skirts </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Jeans</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Sleepwear </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Bath Robes </a>
                                    </ul>
                                </ul>
                            </ul>
                        </li>

                        <!-- dropdown Elec Supplies -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown"> Electrical Supplies</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item " href="#"  role="button" >Cell Phones </a></ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Tv & Home Theater </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >75-Inch Tvs </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >65-Inch Tvs </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >55-Inch Tvs</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Wearable Technology </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Apple Watch </a>
                                        <a class="dropdown-item" href="#"  role="button" >Headphones</a>
                                        <a class="dropdown-item" href="#"  role="button" >Wireless Headphones </a>
                                    </ul>
                                </ul>
                            </ul>
                        </li>

                        <!-- dropdown Beauty Prods -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Beauty Products</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Makeup </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" > Face </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Lip</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Brushes & Applicators</a>
                                    </ul>
                                </ul>
                            </ul>
                        </li>

                        <!-- dropdown Kitchen & Appliances -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Kitchen & Appliances</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Kitchen & Cooking Accessories </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Kitchen Utensils </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Mixing & Measuring Tools </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Cooking Accessories</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Kitchen Cabinets </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Wall Cabinets</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >High Cabinets </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Base Cabinets</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Kitchen Faucets & Sinks </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" > Kitchen Sinks </a>
                                        <a class="dropdown-item" href="#"  role="button" >Kitchen Faucets</a>
                                    </ul>
                                </ul>
                            </ul>
                        </li>

                        <!-- Toys & Vid Games -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Toys & Video Games</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item " href="#"  role="button" >Toys </a></ul>
                                <ul><a class="dropdown-item " href="#"  role="button" >Video Games </a></ul>
                                <ul><a class="dropdown-item " href="#"  role="button">Outdoor Play </a></ul>
                            </ul>
                        </li>

                        <!-- dropdown Pharmacy -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Pharmacy, Health & Wellness</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Health Care </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Cough, Cold & Flu </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Pain Relievers</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Eye Care</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Wellness </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Sleep Support</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Performance Nutrition</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Weight Loss</a>
                                    </ul>
                                </ul>

                            </ul>
                        </li>

                        <!-- dropdown Pets -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Pets</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Cat</a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Cat Dry Food </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Cat Wet Food </a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Climbing Trees</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Dog </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Dog Dry Food</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Dog Wet Food</a>
                                        <a class="dropdown-item" href="#"  role="button" data-toggle="dropdown" >Dog Beds</a>
                                    </ul>
                                </ul>

                            </ul>
                        </li>

                        <!-- dropdown Sports & Outdoors -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">
                                Sports & Outdoors
                            </a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Sports</a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Baseball</a>
                                        <a class="dropdown-item" href="#"  role="button" >Basketball</a>
                                        <a class="dropdown-item" href="#"  role="button" >Tennis</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Bikes</a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Electric</a>
                                        <a class="dropdown-item" href="#"  role="button"  >Mountain</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Exercise & Fitness</a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" > Boxing & Mma </a>
                                        <a class="dropdown-item" href="#"  role="button" >Exercise Machines</a>
                                        <a class="dropdown-item" href="#"  role="button" >Yoga </a>
                                    </ul>
                                </ul>
                            </ul>
                        </li>

                        <!-- dropdown Paio & GArdrb-->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Patio & Garden</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Outdoor Decor </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Outdoor Cushions </a>
                                        <a class="dropdown-item" href="#"  role="button" >Outdoor Lighting</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Patio Furniture</a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Patio Conversation Sets</a>
                                        <a class="dropdown-item" href="#"  role="button">Patio Dining Sets </a>
                                        <a class="dropdown-item" href="#"  role="button" >Porch Swings</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Indoor & Live Plants</a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" > Annuals  </a>
                                        <a class="dropdown-item" href="#"  role="button" >Plant Gifts</a>
                                        <a class="dropdown-item" href="#"  role="button" >Indoor Plants</a>
                                    </ul>
                                </ul>
                            </ul>
                        </li>

                        <!-- dropdown Grocery -->
                        <li>
                            <a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Grocery</a>
                            <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                <ul ><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Bakery & Bread </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Rolls & Buns </a>
                                        <a class="dropdown-item" href="#"  role="button" >Cookies & Brownies </a>
                                        <a class="dropdown-item" href="#"  role="button"  >Pies</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item dropdown-toggle" href="#"  role="button" data-toggle="dropdown" >Meat & Seafood </a>
                                    <ul class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#"  role="button" >Seafood</a>
                                        <a class="dropdown-item" href="#"  role="button" >Pork</a>
                                        <a class="dropdown-item" href="#"  role="button"  >Beef & Lamb'</a>
                                    </ul>
                                </ul>
                                <ul><a class="dropdown-item" href="#"  role="button"  >Fresh Produce</a>
                                </ul>
                            </ul>
                    </ul>
                </li>

            </div>

            <li class="nav-item">
                <a class="nav-link" href="/login">Log In  <span class="sr-only">(current)</span></a>
            </li>

        </ul>

    </div>



    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

</nav>


<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="row mb-5 gx-5">
                <div class="bg-secondary-soft px-4 py-5 rounded">
                    <h2 class="card-title"><p style="font-family: Serif">Clothing</p></h2>
                    {% for Product_Name in prod %}
                    <h5><a href="#"> {{ Product_Name[1] }}</a></h5>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

</div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>